body{
	font-family: Helvetica, Arial, sans-serif;
}

.wrapper{
	box-sizing: border-box;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 50px;
	-webkit-box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
}

.button{
	text-align: center;
}

.button__item{
	padding: 10px 20px;
	border: 1px solid #dfd;
	outline: none;
	border-radius: 4px;
	background: #fff;
	cursor: pointer;
	transition: all 0.5s;
}

.button__item:hover{
	background: #eee;
}

.button__check{
	background: #0F3800;
	color: #fff;
}

.button__check:hover{
	background: #74B200;
	color: #333;
}

.button__top{
	display: block;
}

.button__bottom{
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
}


#question-block{
	display: none;
	position: relative;
	animation-name: animatequestion;
	animation-duration: 0.5s;
}

@keyframes animatequestion{
	from{
		left: -500px;
		opacity: 0;
	}
	to{
		left: 0px;
		opacity: 1;
	}
}

.question__maintitle{
	text-align: center;
}

.question__text{
	color: #333;
	cursor: pointer;
}

.question__text:hover{
	text-shadow: 1px 1px 1px #afa;
}

.question__radio{
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.question__text:before{
	content: '';
	position: relative;
	top: 3px;
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url('../img/radio-sprite.png');
	background-position: 0 0;
	margin-right: 10px;
}

.question__radio:checked + .question__text:before{
	background-position: -23px 0px;
}

.modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	overflow: auto;
	background-color: #000;
	background: rgba(0, 0, 0, 0.7);
}

.modal .question__text:before{
	background: none;
}

.modal__check{
	text-align: center;
}

.modal__box{
	box-sizing: border-box;
	position: relative;
	width: 600px;
	min-height: 450px;
	padding: 40px 60px;
	background: #fff;
	margin: 0 auto;
	-webkit-animation-name: animatemodal;
	-webkit-animation-duration: 0.5s;
	animation-name: animatemodal;
	animation-duration: 0.5s;
}

/*animation*/

@-webkit-keyframes animatemodal{
	from{
		top: -300px;
		opacity: 0;
	}
	to{
		top: 0;
		opacity: 1;
	}
}

@keyframes animatemodal{
	from{
		top: -300px;
		opacity: 0;
	}
	to{
		top: 0;
		opacity: 1;
	}
}

.modal__title{
	text-align: center;
}

.modal__result{
	margin: 50px auto;
	text-align: center;
	font-weight: bolder;
}

.modal__box label{
	display: block;
	cursor: text;
}

.modal__box label:hover{
	text-shadow: none;
}

.correct{
	color: green;
}

.incorrect{
	color: red;
}

.correct:after{
	content: ' ✔';
}

.incorrect:after{
	content: ' ✖';
}