

/*maybe to use some filter ms???*/
.purple-block{
	background: url(../img/purple-bg-ie.png) repeat-x;
	-webkit-background-size: contain;
	background-size: contain;
}


.comment{
	/*border: 1px solid #eee;*/
	border-top: 0px;
}

.menu-sm{
	left: 25%;
	top: 25%;
}

.dots{
	left: 25%;
	bottom: 10%;
}

.story h4{
		color: #454545;
		font-family: Georgia, Times, "Times New Roman", serif;
		font-style: italic;
		/*text-shadow: 1px 1px #fff;*/
	}