<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>URLAUBSGLÜCK</title>
	<link rel="stylesheet" href="css/dist/core.css">
	<script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.12.0/lodash.min.js"></script>
	<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
	<script src="js/src/template.js"></script>
	<script src="js/src/masonry.js"></script>
	<script src="js/lib/jquery.jcarousel.min.js"></script>
	<script src="js/src/mycarousel.js"></script>
	<script src="js/src/vertical-align.js"></script>
	<!-- <script data-main="js/src/app" src="js/src/require.js"></script> -->
	
</head>
<body>
	<header class="header">
		<div class="wrapper">
			<div class="header__top">
				<ul class="menu menu__header-top">
					<li class="menu__item">
						<a href="#" class="menu__link loggin">Log In</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link menu__link-bordered">Sign In</a>
					</li>
				</ul>
			
				<div class="logo">
					<a href="#" class="logo__item">
					URLAUBSGLÜCK
					</a>
				</div>
			</div>
			<section class="header__content">
			<h2 class="header__content-title">Share your holiday dreams</h2>
			<p class="header__content-p">
				And find the perfect partner to fullfill it
			</p>
			<ul class="menu">
				<li class="menu__item">
					<a href="#" class="menu__link header__content-btn">Find your holiday partner</a>
				</li>
			</ul>
			</section>
		</div>
	</header>


	<div class="steps">
		<div class="wrapper">
			<h3 class="steps__title">How Urlaubsglück works?</h3>
			<div class="steps__item jcarousel steps__item-1">
				<ul class="jcarousel__list">
					<li class="jcarousel__item">							
					</li>
					<li class="jcarousel__item">							
					</li>
					<li class="jcarousel__item">				
					</li>
				</ul>
	      <div class="arrows-wrapper">
	        <span class="arrow arrow--left jcarousel-control-prev"></span>
	        <span class="arrow arrow--right jcarousel-control-next"></span>
	      </div>

	      <div class="steps__content">
					<span class="steps__num menu__link">
						Step 1
					</span>
					<h3 class="steps__subtitle">Sed leo enim, condimentum</h3>
					<p class="steps__p">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis
					</p>
				</div>
			</div>

			<div class="steps__item jcarousel steps__item-2">
				<ul class="jcarousel__list">
					<li class="jcarousel__item">							
					</li>
					<li class="jcarousel__item">							
					</li>
					<li class="jcarousel__item">				
					</li>
				</ul>
	      <div class="arrows-wrapper">
	        <span class="arrow arrow--left jcarousel-control-prev"></span>
	        <span class="arrow arrow--right jcarousel-control-next"></span>
	      </div>

	      <div class="steps__content">
					<span class="steps__num  menu__link">
						Step 2
					</span>
					<h3 class="steps__subtitle">Morbi velit risus</h3>
					<p class="steps__p">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
					</p>
				</div>
			</div>

			<div class="steps__item jcarousel steps__item-3">
				<ul class="jcarousel__list">
					<li class="jcarousel__item">							
					</li>
					<li class="jcarousel__item">							
					</li>
					<li class="jcarousel__item">				
					</li>
				</ul>
	      <div class="arrows-wrapper">
	        <span class="arrow arrow--left jcarousel-control-prev"></span>
	        <span class="arrow arrow--right jcarousel-control-next"></span>
	      </div>

	      <div class="steps__content">
					<span class="steps__num menu__link">
						Step 3
					</span>
					<h3 class="steps__subtitle">Sed leo enim, condimentum</h3>
					<p class="steps__p">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="partners">
		<div class="wrapper">
		<h3 class="partners__title">Meet a partner for your
best holiday</h3>
		<ul class="partners__list">
			<li class="partners__item">
				<div class="partners__img">
					<img src="img/portrait-1.png" alt="postrait">
					<span class="partners__img-icon">
						<img src="img/icon/tv.png" alt="" class="partners__icon">
					</span>
				</div>
				<div class="partners__name">Bradley Hunter</div>
				<p class="partners__p">Based in Chicago. I love playing tennis and loud music.</p>
			</li>
			<li class="partners__item">
				<div class="partners__img">
					<img src="img/portrait-2.png" alt="postrait">
					<span class="partners__img-icon">
						<img src="img/icon/lab.png" alt="" class="partners__icon">
					</span>
				</div>
				<div class="partners__name">Lucas Marsha</div>
				<p class="partners__p">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
			</li>
			<li class="partners__item">
				<div class="partners__img">
					<img src="img/portrait-3.png" alt="postrait">
					<span class="partners__img-icon">
						<img src="img/icon/coffee.png" alt="" class="partners__icon">
					</span>
				</div>
				<div class="partners__name">Heather Walker</div>
				<p class="partners__p">I'm a happy person that loves cats and climbing on mountains.</p>
			</li>
			<li class="partners__item">
				<div class="partners__img">
					<img src="img/portrait-4.png" alt="postrait">
					<span class="partners__img-icon">
						<img src="img/icon/plain.png" alt="" class="partners__icon">
					</span>
				</div>
				<div class="partners__name">Bradley Hunter</div>
				<p class="partners__p">Based in Chicago. I love playing tennis and loud music.</p>
			</li>
		</ul>
		<div class="partners__btn">
			<a href="#" class="partners__link-btn">See other partners</a>
		</div>
		</div>
	</div>
	<div class="ideas">
		<div class="wrapper">
			<h3 class="ideas__title">Discover holiday activity
ideas</h3>
			<div id="ideas__wrapper"></div>		
		</div>
	</div>

	<div class="search">
		<div class="wrapper">
			<h3 class="search__title">Discover holiday activity
ideas</h3>
			<h4 class="search__subtitle">Hi! What are your holiday interests?</h4>
			<form class="search__form">
				<input type="text" class="search__input" placeholder="Enter your interests...">
				<button class="search__btn menu__link">Search partners</button>
			</form>
		</div>
	</div>
	<footer class="footer">
		<div class="wrapper">
			<div class="logo">
				<a href="#" class="logo__link">URLAUBSGLÜCK</a>
			</div>
			<div class="company__wrapper">
				<h3 class="footer__subtitle">Company</h3>
				<ul class="menu menu__footer">
					<li class="menu__item">
						<a href="#" class="menu__link">About</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">Contacts</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">Press</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">Blog</a>
					</li>
				</ul>
			</div>
			<div class="partners__wrapper">
				<h3 class="footer__subtitle footer__subtitle-partners">Partners</h3>
			</div>
			<div class="copyright">
				<p class="copyright__p">Designed by</p>
				<div class="copyright__logo">
					<img src="img/designed.png" alt="" class="copyright__img">
				</div>
			</div>
		</div>
	</footer>

<script type="text/template" id='masonry'>
	<div class="grid">
		<% for (var i = 0; i < data.length; i++){%>
	  <div class="tt grid__item 
			<% if ((i === 4) || (i === 5)){ %>
				grid__width-2
			<% } %>" style="background-image: url(<%= data[i].imageurl %>);" >
			<div class="tt">
				<a href="#" class="grid__link">
					<span class="grid__text tc"><%= data[i].word %></span>
				</a>
			</div>
	  </div>
	  
	  <%}%>
	</div>
</script>

</body>
</html>