@body-color: #5ec2e7;
@link-focus: #54aecf;

body{
  background: @body-color;
}

.navbar.navbar-defaul{
  ul{
    text-align: center;
    li{
        position: relative;
    }

    li.dropdown{
      ul.dropdown-menu{
        ;
      }
    }
  }
}
