@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('../../font/roboto/Roboto-Light.ttf');
}

@font-face {
	font-family: 'Montserrat';
	src:url('../../font/montserrat/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('../../font/montserrat/Montserrat-Bold.ttf');
}
