@import 'media';
@import 'mixin';
.footer{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	border-top: 5px solid $red;
	@include clearfix;
	
	.logo{
		margin-bottom: 12px;
		.logo__link{
			transition: all 0.5s;
			&:hover{
				text-shadow: 0px 0px 2px $red;
				color: $white;
			}				
		}
		 
	}

	.menu__item{
		.menu__link{
			padding: 0;
			margin-right: 7px;
			margin-left: 4px;
			transition: all 0.5s;
			&:hover{
				color: $red;
			}
		}
	}

	// .company__wrapper{
	// 	margin-bottom: 5px;
	// }

	@include tablet{
		.footer{
			padding-top: 36px;
		}
		.logo, .company__wrapper,.partners__wrapper{
			float: left;
		}
		.logo{
			line-height: 20px;
			margin-right: 80px;
			margin-left: 38px;
		}

		.company__wrapper{
			margin-right: 100px;
		}

		.partners__wrapper{
			.footer__subtitle-partners{
				margin-top: 0;
			}
		}

		.menu__footer{
			.menu__item{
				display: block;
				margin-bottom: 10px;
				margin-top: 10px;
				text-align: left;
			}
		}
	}

	@include desktop{
		.logo, .company__wrapper,.partners__wrapper{
			float: left;
		}
		.logo{
			line-height: 20px;
			margin-right: 95px;
			margin-left: 10px;
		}

		.company__wrapper{
			margin-right: 90px;
		}

		.partners__wrapper{
			.footer__subtitle-partners{
				margin-top: 0;
			}
		}

		.menu__footer{
			.menu__item{
				display: block;
				margin-bottom: 10px;
				margin-top: 10px;
				text-align: left;

			}
		}
	}
	

	.logo__link{
		text-transform: uppercase;
		color: $red;
		font-weight: bold;
		font-size: 16px;
		text-decoration: none;
		letter-spacing: 0.8px;
		@include font-family('MontserratBold');
	}
}

@include tablet{
	.footer{
		padding-top: 38px;
	}
}

@include desktop{
	.footer{
		padding-top: 34px;
	}	
}

.footer__subtitle{
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
	@include font-family('MontserratBold');
}


.footer__subtitle-partners{
	margin-top: 15px;
	margin-bottom: 18px;
}
.copyright__p{
	font-size: 10px;
	margin-bottom: 7px;
	color: $light-gray;
	text-transform: uppercase;
	letter-spacing: 1px;
	@include font-family('MontserratBold');
}

@include tablet{
	.copyright{
		float: right;
		margin-right: 40px;
		&__p{
			float: right;
		}
	}
}

@include desktop{
	.footer__subtitle{
		margin-bottom: 17px;

	}
	.copyright{
		float: right;
		margin-right: 10px;
		&__p{
			float: right;
			margin-top: 5px;
		}
	}

}
