@import 'mixin';
@import 'media';

.partners{
	text-align: center;
	margin-bottom: 35px;
	.partners__item{
		margin-bottom: 25px;
	}

	.partners__list{
		margin-top: 17px;
	}

	@include tablet{
		.partners__item{
			display: inline-block;
			width: 34%;
			vertical-align: top;
			margin-top: 10px;
		}
	}

	@include desktop{
		.partners__item{
			display: inline-block;
			width: 24%;
			vertical-align: top;
		}	
	}

	.partners__title{
		margin-bottom: 20px;
		font-size: 22px;
		font-weight: bold;
		color: $dark;
		width: 260px;
		margin: 0 auto;
		line-height: 1.1;
		@include font-family('MontserratBold');
	}

	@include tablet{
		.partners__title{
			width: 500px;
		}
	}

	.partners__name{
		font-size: 14px;
		@include font-family('MontserratBold');
		color: $dark;
	}

	.partners__p{
		padding: 17px 40px 3px;
		font-size: 14px;
		color: $light;
		line-height: 1.2;
		@include font-family();
	}
	@include tablet{
		.partners__name{
			margin-top: 25px;
		}
		.partners__p{
			padding: 17px 10px 3px; 
		}
	}

	.partners__img{
		position: relative;
		width: 120px;
		height: 120px;
		margin: 0 auto;
		margin-bottom: 18px;
			> img{
				transition: all 0.5s;
				&:hover{
					transform: scale(1.1);
				}
			}
		.partners__img-icon{
			position: absolute;
			right: -3px;
			bottom: -4px;
			.partners__icon{
				border-radius: 50%;
				border: 2px solid $white;
			}
		}
	}

	@include tablet{
		.partners__img{
			width: 120px;
			height: 120px;
			margin: 0 auto;
		}
	}

	@include desktop{
		.partners__img{
			width: 120px;
			height: 120px;
			margin: 0 auto 20px;
		}
	}

	.partners__link-btn{
		display: block;
		padding: 10px;
		width: 87%;
		border: 2px solid $red;
		border-radius: 50px;
		color: $red;
		text-decoration: none;
		margin: 0 auto 20px;
		letter-spacing: -1px;
		transition: all 0.5s;
		@include font-family('MontserratBold');
		&:hover{
			background: $red;
			color: $white;
		}
	}

	@include tablet{
		.partners__link-btn{
			width: 190px;
			margin-top: 38px;
		}
	}
}

@include desktop{
	.partners{
		.partners__link-btn{
			width: 190px;
		}
		.partners__title{
			width: 405px;
		}
		
		.partners__list{
			margin-top: 33px;
			margin-bottom: 10px;
		}

		.partners__p{
			padding: 17px 10px 3px;
		}
	}
}