$gray: rgba(0,0,0, 0.2);
$black: rgba(0,0,0, 0.7);
$font-color-header: #fff;
$font-size-header: 95px; //use rem 
$img-dir: '../img/';
$section-title-color: #d4af37;
$section-header-color: #021725;
$section-text-color: #021725;
$section-title-size: 28px;
$section-header-size: 90px;
$section-text-size: 29px;
$border-more: #524e3f;
$people-name-size: 40px;
$people-bg: #f9f9f9;
$contact-title: #323d43;
$footer-bg: #eeeeee;
$footer-color: #323d43;
$footer-size: 30px;
$yellow-color: #d3b000;
$about-desc: 35px;
