@import 'media';
@import 'section';

.contact{
	&__subheader{
		color: $yellow-color;
		text-align: center;
		text-transform: uppercase;
		font-size: 2em;
	}
	&__header{
		text-align: center;
		font-size: 4em;
	}

	&__info{
		background-color: transparent;
		width: 100%;
		display: table;
		&-item{
			min-width: 100%;
			background: $yellow-color;
			height: 375px;
			display: table-cell;
			vertical-align: middle;
			// text-align: center;
			padding: 0 0 0 60px;
			color: white;
			position: relative;
			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 70px;
				width: 50px;
				height: 4px;
				background: #fff;
			}
			&.phone{
				font-size: 46px;
				// color: white;
				background: $section-text-color;
			}

			span{
				font-size: 1em;
			}
		}
		&-img{
			width: 100%;
			overflow: hidden;
			img{
				width: 100%;
			}
		}
		&-content{
			font-size: 1.5em;
			padding: 2em;
		}
	}
	&__email{
		@extend .section__more;
		text-align: center;
		&-link{
			@extend .section__more-button;
		}
	}
}

@include desktop{
	.contact{
		&__info{
			display: inline-block;
			max-width: 61%;
			width: 61%;
			height: 300px;
			vertical-align: top;
			&-item{
				
				height: 300px;
				padding: 0 0 0 30px;
				span{
					font-size: 25px;
				}
				&.phone{
					font-size: 25px;
					padding: 34px;
				}

			}
			&.c-block{
				width: 38%;
				height: 300px;
			}
			&-img{
				// overflow: hidden;
				
				height: 300px;
				img{
					width: auto;
					max-width: 100%;
					height: 100%;
				}
			}
			&-content{
				font-size: 20px;
				padding: 50px;
				line-height: 1.5;
			}
		}
		&__container{
			background: $people-bg;
		}
	}
}