@import 'media';

.work-desc{
	padding: 20px;
	text-align: center;

	&__subheader{
		text-transform: uppercase;
		color: $yellow-color;
		font-size: 28px;
	}
	&__header{
		color: $section-header-color;
		font-size: 90px;
	}
	&__content{
		font-size: 29px;
	}
}