@import 'mixin';
@import 'var';
@import 'media';

*{
	box-sizing: border-box;
}


.header{

	height: 1300px;


	&__img{
		// position: absolute;
		// top: 0;
		// left: 0;
		// width: 100%;
		// height: 100%;
		background: url($img-dir + 'about/intro.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}


	&__button{
		position: absolute;
		bottom: 80px;
		left: 50%;
	}
}

@include desktop{
	.header{
		height: 700px;
		background: url($img-dir + 'about/intro.jpg') no-repeat 50% 50%;
		&__top{
		}
		&__button{
			display: block;
		}
		&__content{
			display: none;
		}
	}	
}