@import 'media';
@import 'mixin';


.sidebar{
	padding: 0 55px;
}

.widget{
	margin-top: 88px;
	&__header{
		font-size: 42px;
		margin-bottom: 50px;
		padding-bottom: 10px;
		border-bottom: 2px solid $yellow-color;
	}

	ul{
		a{
			color: black;
			font-size: 30px;
			font-style: italic;
			text-decoration: none;
		}
	}
}

@include desktop{
	.sidebar{
		max-width: 30%;
		display: inline-block;
		vertical-align: top;
		padding: 0 1%;

		.works-list{
			max-width: 100%;
		}
	}
}