@import 'mixin';
@import 'media';

.footer{
	width: 100%;
	padding-top: 75px;
	padding-bottom: 65px;
	margin-top: 80px;
	background: $footer-bg;
	color: $footer-color;
	font-size: $footer-size;
	line-height: 2;
	.wrapper{
		padding: 0 15px;
	}
}

@include desktop{
	.footer{
		@include clearfix;
		&__copyright{
			float: left;
		}
		&__email{
			float: right;
		}
	}
}