@import 'media';
@import 'mixin';

*{
	box-sizing: border-box;
}
body{
	@include font-family();
}
.wrapper{
	min-width: 320px;
	width: 320px;
	margin: 0 auto;
}

@include tablet{
	.wrapper{
		min-width: 768px;
	}
}

@include desktop{
	.wrapper{
		min-width: 960px;
		width: 960px;
	}	
}