@import 'media';
@import 'mixin';


.steps{
	margin-top: 37px;
	margin-bottom: 37px;
	@include font-family('Montserrat');
	font-size: 22px;
	.wrapper{
		padding-left: 10px;
		padding-right: 10px;
	}
	&__title{
	margin-bottom: 13px;
	font-size: 22px;
	color: $dark;
	text-align: center;
	}

	&__num{
		text-transform: uppercase;
		margin-bottom: 21px;
		padding: 5px 15px;
		background: $red;
		font-size: 10px;
		letter-spacing: 2px
	}

	&__item{
		position: relative;
		height: 243px;
		margin-bottom: 7px;
		border-radius: 4px;
		color: $white;
		.steps__content{
			position: absolute;
			bottom: 20px;
			left: 20px;
			right: 20px;
		}
	}

	&__subtitle{
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 20px;
		@include font-family('MontserratBold');
	}

	&__p{
		font-size: 14px;
		@include font-family();
		color: $light-gray;
	}
}

/****jcarousel*****/
.carousel{
	position: relative;
	width: 300px;
	overflow: hidden;
	height: 245px;
	margin: 0 auto 5px;
	border-radius: 7px;

	@include clearfix;
	&.steps__item-1{
		.carousel__item{
			&:first-child{
				background-image: url($img-dir + 'carousel-1.jpg');
			}
			&:nth-child(2){
				background-image: url($img-dir + 'carousel-2.jpg');
			}
			&:last-child{
				background-image: url($img-dir + 'carousel-3.jpg');
			}
		}
	}
	&.steps__item-2{
		.carousel__item{
			&:first-child{
				background-image: url($img-dir + 'carousel-2.jpg');
			}
			&:nth-child(2){
				background-image: url($img-dir + 'carousel-3.jpg');
			}
			&:last-child{
				background-image: url($img-dir + 'carousel-1.jpg');
			}
		}
	}

	&.steps__item-3{
		.carousel__item{
			&:first-child{
				background-image: url($img-dir + 'carousel-3.jpg');
			}
			&:nth-child(2){
				background-image: url($img-dir + 'carousel-2.jpg');
			}
			&:last-child{
				background-image: url($img-dir + 'carousel-1.jpg');
			}
		}
	}

	&__list{
		position: relative;
		width: 300px;
		height: 245px;
		margin: 0;
		padding: 0;
	}

	&__item{
		position: relative;
		float: left;
		width: 300px;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;


	}
}

.flickity-prev-next-button{
	position: absolute;
	top: 0;
	z-index: 9999;
	width: 150px;
	height: 100%;
	cursor: pointer;
	border-radius: 0px;
	transform: none;
	background: none;
	svg{
		width: 0;
		height: 0;
	}
	&.previous{
		svg{
		}
	}
	&.next{
		right: 13px;
		svg{
		}
	}
	&:hover{
		background: none;
	}
}

.flickity-page-dots{
	display: none;
}

.arrow {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  background-image: none;
  cursor: pointer;
  z-index: 99;

  &--left {
      left: 0;
  }

  &--right {
      right: 0;
  }
}

@include tablet{
	.steps{
		margin-top: 97px;
		margin-bottom: 93px;
	
		&__title{
			margin-bottom: 32px;
		}

		&__list{
			width: 100%;
			margin: 0 auto;
			text-align: justify;
			&:after{
				content: '';
				display: inline-block;
				width: 100%;
			}
		}

		&__item{
			vertical-align: top;
			&:nth-child(3){
				margin: 0 15px;
			}
		}
	}

	.arrow{
		top: 40px;
		&--right{
			right: 10px;
			display: inline-block;
			width: 30px;
			height: 100px;
			background-image: url($img-dir + 'arrow-next.png');
			background-repeat: no-repeat;
		}
		&--left{
			left: 10px;
			display: inline-block;
			width: 30px;
			height: 100px;
			background-image: url($img-dir + 'arrow-prev.png');
			background-repeat: no-repeat;	
		}
	}

	.steps__item{
		display: inline-block;
		width: 235px;
		height: 405px;
	}

	.carousel{
		width: 235px;
		&__list{
			width: 235px;
			height: 405px;
		}
	
		&__item{
			width: 235px;
		}
	}
	.flickity-prev-next-button{
		top: 150px;
		width: 40px;
		height: 80px;
		svg{
			width: 30px;
			height: 50px;
		}
		.arrow{
			fill: $light-gray;
		}
	}
}


@include desktop{
	.steps{
		margin-top: 97px;
		margin-bottom: 91px;
	
		&__title{
			margin-bottom: 33px;
		}
		&__list{
			width: 100%;
			margin: 0 auto;
			text-align: justify;
			font-size: 0px;
			&:after{
				content: '';
				display: inline-block;
				width: 100%;
			}
		}
		&__item{

			display: inline-block;
			width: 300px;
			height: 405px;
			vertical-align: top;
			&:nth-child(3){
				margin: 0 13px;
			}
		}
	}

	.carousel{
		width: 300px;
		&__list{
			width: 300px;
			height: 405px;
		}
	}



	.flickity-prev-next-button{
		background: none;
		top: 150px;
		width: 40px;
		height: 80px;

		&:hover{
			background: none;;
		}
		svg{
			width: 30px;
			height: 50px;
		}
		.arrow{
			fill: $light-gray;
		}
	}
}